
<div class="accordion" id="accordionExample">
  {{#events}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
        {{ title }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="heading{{id}}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
          <form method="POST" action="/event/like">
            <input type="hidden" value="{{id}}" name="id">
            <input type="submit" value="Like">
          </form>
          <form method="POST" action="/event/unlike">
            <input type="hidden" value="{{id}}" name="id">
            <input type="submit" value="UN-Like">
          </form>
        </p>
      </div>
    </div>
  </div>
  {{/events}}
</div>